In [1]:
# Importing necessary libraries
import pandas as pd
import numpy as np
import statsmodels.api as sm

# Load the data from the provided URL
url = "https://github.com/scunning1975/mixtape/raw/master/castle.dta"
data = pd.read_stata(url)

# Displaying the first few rows to understand the structure of the dataset
data.head()

,state,year,sid,cdl,pre2_cdl,caselaw,anywhere,assumption,civil,homicide_c,...,_Iyear_2002,_Iyear_2003,_Iyear_2004,_Iyear_2005,_Iyear_2006,_Iyear_2007,_Iyear_2008,_Iyear_2009,_Iyear_2010,popwt
0,Alabama,2000,1,0.0,0.0,0.0,0,0,0,329,...,0,0,0,0,0,0,0,0,0,4499293.0
1,Alabama,2001,1,0.0,0.0,0.0,0,0,0,379,...,0,0,0,0,0,0,0,0,0,4499293.0
2,Alabama,2002,1,0.0,0.0,0.0,0,0,0,303,...,1,0,0,0,0,0,0,0,0,4499293.0
3,Alabama,2003,1,0.0,0.0,0.0,0,0,0,299,...,0,1,0,0,0,0,0,0,0,4499293.0
4,Alabama,2004,1,0.0,1.0,0.0,0,0,0,254,...,0,0,1,0,0,0,0,0,0,4499293.0

In [ ]:
# Filtering the data to exclude specific years (2005, 2007, 2008, 2009)
filtered_data = data[~data['year'].isin([2005, 2007, 2008, 2009])]

# Creating the `post` variable: 1 if year >= 2006, otherwise 0
filtered_data['post'] = np.where(filtered_data['year'] >= 2006, 1, 0)

# Creating the `treat` variable: 1 if effyear is not missing (indicating treatment), otherwise 0
# In this dataset, it seems 'effyear' is not directly present, so we would substitute this with a similar proxy (like caselaw).
filtered_data['treat'] = np.where(~filtered_data['caselaw'].isna(), 1, 0)

# Display the first few rows to ensure the new variables have been created correctly
filtered_data[['year', 'post', 'treat']].head()